body {
  background-color: #FAFAFA !important;
  color: #545A5D;
}

main{
  min-height: 95vh;
}

 .container{
  padding: 12px 0!important;
}

.container p {
  margin: 0;
  padding: 0;
}

.col-md-6,.col-md-4,.col-md-3{
  /* padding-left: 8px!important;
  padding-right: 8px!important; */
}

.block{
  display: block;
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}

.flex {
  display: -webkit-box; /*Android4.3*/
  display: -moz-box;    /*Firefox21*/
  display: -ms-flexbox; /*IE10*/
  display: -webkit-flex; /*PC-Safari,iOS8.4*/
  display: flex
}

.middle{
  justify-content: center;
  align-items: center;
}

.justifyCenter{
  justify-content: center;
}
.justifyBetween{
  justify-content:space-between;
}
.justifyEnd{
  justify-content: flex-end;
}

.center {
  margin: 0 auto;
}

.bg-white {
  background-color: #ffffff;
}

.border {
  border: 1px solid #EDEDED;
}

.borderBottom{
  border-bottom: 1px solid #EDEDED;
}

.bold {
  font-weight: bold;
}

.normal{
  font-weight: normal;
}

.textCenter {
  text-align: center;
}

.textRight{
  text-align: right;
}

.textLeft{
  text-align: left;
}

.bottom1Rem {
  margin-bottom: 1rem;
}

.wordBreak{
  word-break:break-all;
}

.kagariBorder {
  border: 1px solid #EDEDED;
  border-radius: 5px;
}

.pointer{
  cursor: pointer;
}

.dark-gray {
  color: #545A5D;
}

.gray {
  color: #6F7579;
}
.black{
  color: #3B4043;
}

.blue {
  color: #007AFF;
}

.red {
  color: #FF2D55;
}
.purple{
  color: #5856D6;
}
.green {
  color: #34C759;
}
.newUserColor{
  color: rgba(255, 59, 48, 1);
}
.returnUserColor{
  color: rgba(255, 59, 48, 0.6);
}
.pcColor{
  color: #007AFF99;
}
.mobileColor{
  color: #007AFF66;
}
.tewlve {
  font-size: 12px;
}

.fourteen {
  font-size: 14px;
}

.sixteen {
  font-size: 16px;
}

.eighteen{
  font-size: 18px;
}

.twenty{
  font-size: 20px;
}

/* アイコン関連のCSS */
.marginIcon{
  margin-top: 0.8rem;
}
.iconUser {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  color: #007AFF;
  font-size: 16px;
  background-color: #007AFF1A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.iconSession{
  margin: 0 auto;
  margin-bottom: 0.5rem;
  color: #FF9500;
  font-size: 16px;
  background-color: #FF95001A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.iconPv{
  margin: 0 auto;
  margin-bottom: 0.5rem;
  color: #34C759;
  font-size: 16px;
  background-color: #34C7591A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.iconPs{
  margin: 0 auto;
  margin-bottom: 0.5rem;
  color: #5AC8FA;
  font-size: 16px;
  background-color: #5AC8FA1A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.iconAveSs{
  margin: 0 auto;
  margin-bottom: 0.5rem;
  color: #FF3B30;
  font-size: 16px;
  background-color: #FF3B301A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.iconAveTime{
  margin: 0 auto;
  margin-bottom: 0.5rem;
  color: #FF2D55;
  font-size: 16px;
  background-color: #FF2D551A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.iconBr{
  margin: 0 auto;
  margin-bottom: 0.5rem;
  color: #5856D6;
  font-size: 16px;
  background-color: #5856D61A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.iconBye{
  margin: 0 auto;
  margin-bottom: 0.5rem;
  color: #AF52DE;
  font-size: 16px;
  background-color: #AF52DE1A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.iconComment{
  margin:2rem 1rem 2rem 1rem ;
  color: #FF9500;
  font-size: 16px;
  background-color: #FF95001A;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.iconTop i {
  padding-top: 0.7rem;
}

.top-line {
  line-height: 0.9rem;
}

.top-nav {
  margin-left: 0.5rem;
  padding-bottom: 1rem;
}

.router-link {
  color: #959EA7;
  font-size: 14px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.router-link:hover {
  cursor: pointer;
  text-decoration: none;
}

.active .router-link {
  color: #007AFF !important;
  background: #ffffff;
}

/* サマリーのグラフ */
.userLineGraph {
  display: flex;
  background-color: #ffffff;
  width: auto;
  padding: 1rem;
}

.LineInfo {
  margin: 0 1rem;;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.userLine {
  margin-right: 0;
}

.user-span p {
  text-align: center;
}

.user-span p:first-child {
  margin-bottom: 1.25rem;
}

/* ユーザー分析のグラフ */
.graphBox {
  width: 350px;
  border: 1px solid #EDEDED;
  background-color: #FFFFFF;
}

.barCountryMax {
  display: flex;
  height: 5px;
  border-radius: 8px;
  background-color: rgba(88, 86, 214, 1);
}

.barCountry {
  display: flex;
  height: 5px;
  border-radius: 8px;
  background-color: rgba(88, 86, 214, 0.6);
}

.barCityMax {
  display: flex;
  height: 5px;
  border-radius: 8px;
  background-color: rgba(175, 82, 222, 1);
}

.barCity {
  display: flex;
  height: 5px;
  border-radius: 8px;
  background-color: rgba(175, 82, 222, 0.6);
}

.barAgeMax {
  display: flex;
  height: 5px;
  border-radius: 8px;
  background-color: rgba(0, 122, 255, 1);
}

.barAge {
  display: flex;
  height: 5px;
  border-radius: 8px;
  background-color: rgba(0, 122, 255, 0.6);
}

.barSsMax {
  display: flex;
  height: 5px;
  border-radius: 8px;
  background-color: rgba(255, 149, 0, 1);
}

.barSs {
  display: flex;
  height: 5px;
  border-radius: 8px;
  background-color: rgba(255, 149, 0, 0.6);
}

.barTimeMax {
  display: flex;
  height: 5px;
  border-radius: 8px;
  background-color: rgba(255, 45, 85, 1);
}

.barTime {
  display: flex;
  height: 5px;
  border-radius: 8px;
  background-color: rgba(255, 45, 85, 0.6);
}

.barPsMax {
  display: flex;
  height: 5px;
  border-radius: 8px;
  background-color: rgba(90, 200, 250, 1);
}

.barPs {
  display: flex;
  height: 5px;
  border-radius: 8px;
  background-color: rgba(90, 200, 250, 0.6);
}

.barPvMax {
  display: flex;
  height: 5px;
  border-radius: 8px;
  background-color: rgba(52, 199, 89, 1);
}

.barPv {
  display: flex;
  height: 5px;
  border-radius: 8px;
  background-color: rgba(52, 199, 89, 0.6);
}

.small {
  max-width: 600px;
}
.card {
  border: 1px solid #EDEDED!important;
}

/* レポートカード */
.nowNumber {
  font-size: 28px;
  color: #3B4043;
}

.preNumber {
  font-size: 14px;
  color: #6F7579;
}

.comRateUp {
  font-size: 14px;
  color: #34C759;
}

.comRateDown {
  font-size: 14px;
  color: #FF2D55;
}


.borderTop {
  border-top: 1px solid #EDEDED;
}

.cardExp {
  font-size: 11px;
  color: #6F7579;
}

/* コメントエリア */
.commentArea{
  width: auto;
  background-color: #ffffff;
  padding: 0.8rem 0.5rem;
  margin-bottom: 5rem;
}

.commentArea .commentTextArea textarea{
  width: 800px;
}

.commentTextArea h6{
  margin: 1rem 0;
}
/* ドーナツチャート */
#doughnut-chart{
  margin: 1rem auto;
}
/* テーブル */
.table{
  margin-bottom: 1.5rem!important;
}
.table thead th{
  vertical-align: top!important;
  border: none!important;
}
.table tr {
  background-color: #ffffff;
}
.table td {
  border: none!important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff!important;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #F8FAFC!important;
}
/* コンバージョン分析右上段 */
.cvBox{
  width: 80%;
  padding: .8rem 1rem;
  background-color: #007AFF1A;
  color: #007AFF;
  border-radius: 8px;
  line-height: 1;
  letter-spacing: 0;
}

.rateBox{
  width: 80%;
  padding: .7rem 1rem;
  color: #545A5D;
  line-height: 1;
  letter-spacing: 0;
}
/* 広告分析上段 */
.adMainBox{
  padding: 0 1rem;
}
.adBox{
  padding: 0.6rem 3rem;
  color: #3B4043;
  background-color: #007AFF1A;
  border-radius: 8px;
  line-height: 1;
  letter-spacing: 0;
}
.adBoxClick{
  padding: 0.6rem 2.5rem;
  color: #3B4043;
  background-color: #5856D61A;
  border-radius: 8px;
  line-height: 1;
  letter-spacing: 0;
}
.equal{
  padding-top: 5rem;
}
